{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended", // Specify rules for React
    "plugin:react-hooks/recommended", // Specify rules for React hooks
    "next"
  ],
  "plugins": ["@typescript-eslint", "prettier", "react", "react-hooks"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/ban-ts-comment": "warn"
  },
  "globals": {
    "React": "writable"
  }
}
